* {
  box-sizing: border-box;
  font-family: 'Exo 2', sans-serif;
  line-height: 1.2;
}

body,
main {
  background-color: rgb(234, 234, 234);
  margin: 0;
  height: 100%;

}

main {
  background-color: rgb(234, 234, 234);
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 1280px;
}

div {
  height: 400px;
  margin: 10px;
  position: relative;
  width: 300px;
}

.nav-bar {
  margin-left: -10vh;
}

figure {
  margin-right: 1vw;
}

figcaption {
  color: rgb(134, 134, 134);
}

figcaption:hover {
  color: rgb(214, 214, 214);
}
/*HEADER AND ICONS
*/
header {
  position: relative;
  width: 100%;
  height: 9em;
  background-color: rgb(32, 32, 32);
  border-bottom: 23px solid black;
  border: 2px solid black;
}

li {
  font-family: 'Saira Semi Condensed', sans-serif;
  display: inline-block;
  margin: 40px 0 10px 20px;
  font-size: 0.9em;
}

figure {
  display: flex;
  align-items: center;
}

figcaption {
  display: inline-block;
}

.admin-icon {
  height: 15px;
  margin: 5px;
}

.icons {
  bottom: 10px;
  display: inline-block;
  height: 20px;
  margin: 5px;
}

.camera {
  bottom: 10px;
  display: inline-block;
  position: absolute;
  right: 10px;
  height: 10vh;
}

.nav-bar li {
  margin-left: 1vw;
}

.company-name {
  color: white;
  margin-top: 12vh;
}
/*ARROWS*/
.down-arrow {
  height: 2vh;
}

.icons {
  float: left;
  width: 20px;
}

aside {
  float: right;
  margin-top: 5vh;
}

/*CARDS*/
.card {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
  top: 0;
  transition: top ease 0.3s;
  background-size: cover;
  margin-right: 5px;
  background-color: rgb(255, 255, 255);
  max-height: 25%;
}

.inner-content p {
  bottom: 0px;
  color: gray;
  font-size: 1.1em;
  height: 60%;
  margin: .1px;
  opacity: 0;
  padding: 10px;
  position: absolute;
}

.scroll {
  background-color: white;
  border-radius: 50%;
  height: 4vh;
}

h2 {
  display: block;
  clear: both;
}

h3 {
  font-size: 2em;
}

h4 {
  align-items: center;
  color: rgb(38, 130, 196);
  float: right;
  font-family: 'Saira Semi Condensed', sans-serif;
  font-size: 1.1em;
  margin: 3px;
}

.genre {
  font-size: 1.3em !important;
  color: black !important;
  opacity: 0;
}

.large-font {
  align-self: center;
  background-color: black;
  color: white;
  display: flex;
  font-family: 'Saira Semi Condensed', sans-serif;
  height: 50px;
  justify-content: center;
  margin: 10px auto;
  padding: 5px;
  width: 280px;
}

.views {
  bottom: 10px;
  display: inline-block;
  float: right;
  font-size: 2.2em;
  opacity: 0;
  right: 10px;
}

p {
  color: white;
}

/*IMAGE PLACEMENT*/
.one {
  background-image: url('images/road-house.jpg');
}

.two {
  background-image: url('images/battlefield-earth.jpg');
}

.three {
  background-image: url('images/manos.jpg');
}

.four {
  background-image: url('images/wicker-man.jpg');
}

.five {
  background-image: url('images/twilight.jpg');
}

.six {
  background-image: url('images/the-room.jpg');
}

.seven {
  background-image: url('images/puma-man.jpg');
}

.eight {
  background-image: url('images/time-chasers.jpg');
}