* {
  box-sizing: border-box;
  font-family: 'Hind', sans-serif;
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  height: 100%;
  background-color: #EFEFEF;
}

#page-header {
  background-color: rgb(47, 47, 47);
  height: 13vw;
  width: 100vw;
  position: relative;
}

#header-links {
  text-align: left;
  display: inline;
  list-style: none;
  padding-top: 7%;
  padding-left: 1%;
}

main {
  margin: 0;
  padding: .5vw;
}

#shares {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.films-icon,
.estate-icon,
.meme-icon,
.admin-icon, 
.down-arrow{
  width: 2vw;
  float: right;
}

.header-right {
  float: right;

}

.header-left {
    float: left;
    margin-top: 10vw;
    margin-right: 8vw;
}

.username {
  float: right;
}

article {
  background-position: center;
}

.cage {
  height: 10vw;
  filter: brightness(.7);
}
/* Image Placement */

#bunny {
  background: url("images/bunny.jpg") no-repeat;
  background-size: auto 100%;
}

#bees {
  background: url("images/bees.jpg") no-repeat;
  background-size: auto 100%;
}

#cat {
  background: url("images/cat.jpg") no-repeat;
  background-size: auto 100%;
}

#conair {
  background: url("images/conair.jpg") no-repeat;
  background-size: auto 100%;
}

#dexter {
  background: url("images/dexter.jpg") no-repeat;
  background-size: auto 100%;
}

#monalisa {
  background: url("images/monalisa.jpg") no-repeat;
  background-size: auto 100%;
}

#mulan {
  background: url("images/mulan.jpg") no-repeat;
  background-size: auto 100%;
}

#thrones {
  background: url("images/thrones.jpg") no-repeat;
  background-size: auto 100%;
}
